/* common styles */

:root {
    --soft-cyan: hsl(174, 77%, 80%);
    --strong-cyan: hsl(174, 86%, 45%);
    --discount-bg: hsl(14, 92%, 95%);
    --discount-text: hsl(15, 100%, 70%);
    --cta-pale-blue: hsl(226, 100%, 87%);

    --white: hsl(0, 0%, 100%);
    --main-bg-pale-blue: hsl(230, 100%, 99%);
    --empty-range: hsl(224, 65%, 95%);
    --toggle-bg: hsl(223, 50%, 87%);
    --text-gray-blue: hsl(225, 20%, 60%);
    --cta-dark-blue: hsl(227, 35%, 25%);
}

/* Border box declaration */
html {
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Geneva, sans-serif;
    font-family: 'Manrope', sans-serif;
    color: var(--text-gray-blue);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background-color: var(--main-bg-pale-blue);
}

html, body {
    height: 100%;
}

/* end of common styles */

/* body styles */
main {
    margin: 0;
    width: 1440px;
    height: 800px;

    background-image: url("images/bg-pattern.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.intro-container {
    height : 16rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    background-image: url("images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: center;
}

h2 {
    margin: 1rem 0 0 0;
    font-size: 1.75em;
    color: var(--cta-dark-blue);
}

.intro-container p {
    font-size: 15px;
}

.pricing-container {
    width: 34rem;
    height: 25rem;
    background-color: var(--white);
    border-radius: 3%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .05);

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.range-container {
    display: flex;
    flex-flow: column nowrap;

    flex: 1 1 auto;
}

.range-container__labels {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    flex-grow: 1;
}

.range-container__labels p:first-child {
    margin-left: 10%;

    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.range-container__labels p {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

#price {
    padding: .5rem;
    color: var(--cta-dark-blue);
}

.range-container__labels p:last-child {
    margin-right: 10%;
}

.range-container__labels p span{
    display: inline-block;
    vertical-align: middle;

    font-size: 2.5em;
    font-weight: 800;
}

.range-container__range {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
}

/* check out  */
/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */

#range {
    width: 80%;
    -webkit-appearance: none;  /* Override default CSS styles */
     appearance: none;

     height: 8px; /* Specified height */
     border-radius: 5px;
     background: linear-gradient(to right, var(--soft-cyan) 0%, var(--soft-cyan) 50%, var(--empty-range) 50%, var(--empty-range) 100%); /* Grey background */
     outline: none; /* Remove outline */
     opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
     -webkit-transition: .2s; /* 0.2 seconds transition on hover */
     transition: opacity .2s;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;

    background: url('images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--strong-cyan);

    cursor: pointer;
}

#range::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;

    background: url('images/icon-slider.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.range-container__billing {
    padding: 0 4.5rem 0 9rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    flex-grow: 1;
}

.range-container__billing p {
    display: inline-block;
    font-size: .75em;
    vertical-align: middle;
}

.range-container__switch {
    height: 26px;
}

.range-container__switch label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

[type="checkbox"] {
    width: 0;
    height: 0;
    inset: 0;
}

.toggle {
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 15px;
    background-color: var(--toggle-bg);
    transition: all 0.3s;
}

.toggle::before,
.toggle::after {
    content: "";
    position: absolute;
}

.toggle::before {
    left: 4px;
    top: 3px;
    width: 14px;
    height: 14px;
    background: var(--white);
    border-radius: 50%;;
    z-index: 1;
    transition: transform 0.3s;
}

[type="checkbox"]:checked + span {
    background-color: var(--strong-cyan);
}

[type="checkbox"]:checked + span::before {
    transform: translateX(18px)
}

#discount {
    padding: .25em .5em;
    border-radius: 10px;

    font-size: .625em;
    font-weight: 800;

    color: var(--discount-text);
    background-color: var(--discount-bg);
}

.button-container {
    height: 8rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    border-top: 1px;
    border-top-color: #F2F1F6;
    border-top-style: solid ;
}

.button-container ul {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    font-size: .75em;
}

ul li {
    padding: 4px;
    list-style-image: url('/images/icon-check.svg');
}

.button-container div {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

button {
    padding: .75rem 3rem;
    border: none;
    border-radius: 2em;

    text-decoration: none;

    color: var(--cta-pale-blue);
    background-color: var(--cta-dark-blue);
    transition: all .2s;
}

button:focus {
    outline: 0;
}

/* end of body styles */