/* common styles */

/* Border box declaration */
html {
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Geneva, sans-serif;
    font-family: 'Manrope', sans-serif;
}

html, body, main {
    height: 100%;
}

/* end of common styles */

/* body styles */
main {
    background-image: url("images/bg-pattern.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.intro-container {
    height : 16rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;


    background-image: url("images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.pricing-container {
    width: 34rem;
    height: 25rem;
    background-color: white;
    border-radius: 3%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .05);

    display: flex;
    flex-flow: column nowrap;
}

.range-container {
    display: flex;
    flex-flow: column nowrap;
}

.range-container__labels {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.range-container__labels > p:first-child {
    text-transform: uppercase;
}

.range-container__price {
    font-size: 2.5em;
    font-weight: 800;
}

.range-container__range {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

/* check out  */
/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */

#range {
    width: 80%;
    -webkit-appearance: none;  /* Override default CSS styles */
     appearance: none;

     height: 8px; /* Specified height */
     border-radius: 5px;
     background: #d3d3d3; /* Grey background */
     outline: none; /* Remove outline */
     opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
     -webkit-transition: .2s; /* 0.2 seconds transition on hover */
     transition: opacity .2s;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;

    background: url('images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsl(174, 86%, 45%);

    cursor: pointer;
}

#range::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;

    background: url('images/icon-slider.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.range-container__billing {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.range-container__switch label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

[type="checkbox"] {
    width: 0;
    height: 0;
    inset: 0;
}

.slider {
    position: relative;
    width: 50px;
    height: 26px;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .4);
    background-color: lightgray;
    transition: all 0.3s;
}

.slider::before,
.slider::after {
    content: "";
    position: absolute;
}

.slider::before {
    left: 1px;
    top: 1px;
    width: 24px;
    height: 24px;
    background: white;
    border-radius: 50%;;
    z-index: 1;
    transition: transform 0.3s;
}

[type="checkbox"]:checked + span {
    background-color: green;
}

[type="checkbox"]:checked + span::before {
    transform: translateX(24px)
}

.button-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    border-top: 1px;
    border-top-color: #F2F1F6;
    border-top-style: solid ;
}

.button-container ul {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

ul li {
    list-style-image: url('/images/icon-check.svg');
}

.button-container div {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

button {
    padding: .75em 2.5em;
    border: none;
    border-radius: 2em;

    text-decoration: none;
    font-weight: 800;

    color: #ACB5DC;
    background-color: #2B3353;
    transition: all .2s;
}

button:focus {
    outline: 0;
}

/* end of body styles */